     <div class="main__note">
        <div class="container-xl">
            <div class="main__card-1__note">
               <div class="main__card__top__note">
                   <div class="main__card__top__text__note">
                        <p>{{ theme|default:'Без названия' }}</p>
                        <p>{{ username }}</p>
                    </div>
                </div>
                <p class="main__card__text__note">{{text|linebreaksbr }}</p>
                <div class="main__card__bottom__note">
                    <p>Создано: {{ created_at }}</p>
                    <p>Обновлено: {{ modified_at }}</p>
                </div>
            </div>
        </div>

        <div class="main__buttons__note">

            {% if not user.is_anonymous and user.id == note.username_id %}
                {% block note_controls %}
                    <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'edit_note' note.id %}">
                            <button type="button" name="button_edit_note" class="main__change__button__note btn btn-danger">Изменить</button>
                        </a>


                        <a href="{% url 'delete_note' note.id %}">
                            <button type="button" name="button_delete_note" class="main__delete__button__note btn btn-secondary">Удалить</button>
                        </a>
                        </form>

                {% endblock %}
            {% endif %}
        </div>
    </div>