{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
{% endblock %}


{% block search %}
    <div class="search">
        <div class="container-xl">
            <div class="search__div">
                <p class="search__div__text">Найти заметку</p>
                <form method="get" action="{% url 'search_note' %}">
                    {% csrf_token %}
                    <input type="text" name='q' aria-label="search_note" placeholder="Поиск">
                     <button type="submit" class="search__div__button btn-primary">Найти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="main">

        <!-- заметка  -->
        {% for section in notes %}
            {% url 'note' section.id as link %}
            {% include 'note_system/note_section.html' with theme=section.theme username=section.username text=section.text created_at=section.created_at modified_at=section.modified_at %}
        {% endfor %}


        <div class="container-xl">
            <div class="main__empty-note-1">
            </div>
        </div>

        <div class="container-xl">
            <div class="main__empty-note-2">
            </div>
        </div>
    </div>
{% endblock %}
